.navigation{
    background-color: aqua;
    height: 80px;
    text-align: center;
}
.container{
    text-align: center;
}
.inputs{
    border-radius: 30px;
    height: 15px;
    width: 80px;
}
#calculate{
    border-radius: 30px;
    background-color: aqua;
    height: 30px;
    width: 80px;
}
.navigation{
    background-color: aqua;
    display: flex;
    align-items: center;
}
.navigation-left{
    
    font-size: large;
    color: black;
}
.navigation-right{
    flex: 1 0;
text-align: right;

}
.navigation-right a{
    text-decoration: none;
    color: black;
    padding: 10px;
}