
.main-content{
  margin:auto;
  width: 50%;
  border: 3px ;
  padding: 10px;
  text-align: center;

}
.form1{
    text-align: center;
} 
#submit{
    align-items: center;
    border-radius: 30px;
    background-color: aqua;
    height: 50px;
    width: 80px;
}
.navigation{
    background-color: aqua;
    display: flex;
    align-items: center;
}
.navigation-left{
    
    font-size: large;
    color: black;
}
.navigation-right{
    flex: 1 0;
text-align: right;

}
.navigation-right a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.heading{
    text-align: center;
}